$primary: #ff6701;
$secondary: #fea82f;

#questions-list,
#details {
  // Style the questions options wrapper
  .questions-options-wrapper {
    display: flex;
    justify-content: center;
    border: 1px solid $primary;
    h3 {
      cursor: pointer;
      background-color: $secondary;
      width: 100%;
      margin: 0;
      padding: 20px;
      border: 1px solid $primary;
      color: #fff;
      &:first-of-type {
        border-right: 0 !important;
      }
      &.active {
        background-color: $primary;
      }
    }
  }
  .all-questions {
    border: 1px solid $primary;
    border-top: 0 !important;
    padding: 20px;
    .question-container {
      background-color: white;
      box-shadow: 1px 2px 3px rgba($color: #000, $alpha: 0.6);
      margin: 0 auto 20px auto;
      padding: 20px 20px 0 20px;
      height: 100%;
      main {
        font-weight: bold;
        margin-bottom: 10px;
      }
      .question-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .options {
          width: 100%;
        }
      }
      button {
        background-color: rgb(3, 141, 141);
        border: none !important;
        width: 100%;
      }
    }
  }
  .details-result-wrapper {
    span {
      &.checked {
        background-color: rgb(46, 197, 46);
      }
    }
  }
  .radio-wrapper {
    h3 {
      font-weight: bold;
    }
  }
}
