#form {
  form {
    background-color: #fff;
    padding: 20px;
    font-size: 16px !important;
    button {
      width: 100%;
      background-color: rgb(37, 37, 207);
      border: 0 !important;
    }
  }
}
